:8000 {
	handle /_oauth/* {
		reverse_proxy sso-middleware:8080
	}
	handle {
		forward_auth sso-middleware:8080 {
			uri /_oauth
			copy_headers Authorization
		}

		reverse_proxy host.docker.internal:3000
	}
}
